{
  "presets": ["es2015", "env", "react"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "storybook": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        [
          "module-resolver",
          {
            "root": [
              "."
            ],
            "alias": {
              "atoms": "src/components/atoms",
              "molecules": "src/components/molecules",
              "organisms": "src/components/organisms",
              "helpers": "src/helpers"
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        [
          "module-resolver",
          {
            "root": [
              "."
            ],
            "alias": {
              "atoms": "src/components/atoms",
              "molecules": "src/components/molecules",
              "organisms": "src/components/organisms",
              "helpers": "src/helpers"
            }
          }
        ]
      ]
    }
  }
}
